/*Font Family Used In Website*/
/*Poppins (Integrated From Google Fonts Library)*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

 
 body {
 	font-family: 'Montserrat', sans-serif;
 	font-weight: 400;
    overflow-x: hidden;
 }
 footer {
    font-family: 'Poppins';
 }

 body .container {
 	width: 100%;
 	max-width: 1100px;
 }

 body img {
 	max-width: 100%;
 }

section , header , footer {
    float: left;
    width: 100%;
}

a {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer !important;
    display: inline-block;
    text-decoration: none !important;
}




.custom-scroll1::-webkit-scrollbar-track
{
 
 
    background-color: #F5F5F5;
}

.custom-scroll1::-webkit-scrollbar
{
    width: 8px;
    background-color: #00b22d;
}

.custom-scroll1::-webkit-scrollbar-thumb
{
 
 
    background-color: #d8d8d8;
}



.col-white {
	color:white !important;
}
.col-black {
	color:black !important;
}
.col-black1 {
    color:#272727 !important;
}
.col-black3 {
    color:#323232 !important;
}
.col-grey1 {
    color:#454545 !important;
}
.col-grey2 {
    color:#666666 !important;
}
.col-grey3 {
    color:#535353 !important;
}
.col-grey4 {
    color:#555555 !important;
}
.col-blue1 {
    color:#5000ff !important;
}

.bg-white {
	background:white !important;
}

.bg-black {
	background:black !important;
}
.bg-purple1 {
    background:#5000FF !important;
}
.bg-silver1 {
    background:rgba(80, 0, 255, 0.08) !important;
}
.upper {
    text-transform: uppercase;
}



.pad-top-20 {
	padding-top: 20px !important
}
.pad-top-40 {
	padding-top: 40px !important
}
.pad-top-60 {
	padding-top: 60px !important
}
.pad-top-80 {
	padding-top: 80px !important
}


.pad-bot-20 {
	padding-bottom: 20px !important
}
.pad-bot-40 {
	padding-bottom: 40px !important
}
.pad-bot-60 {
	padding-bottom: 60px !important
}
.pad-bot-80 {
	padding-bottom: 80px !important
}

.m-b-10 {
	margin-bottom: 10px !important
}
.m-b-20 {
	margin-bottom: 20px !important
}
.m-b-30 {
	margin-bottom: 30px !important
}
.m-b-40 {
	margin-bottom: 40px !important
}
.m-b-50 {
	margin-bottom: 50px !important
}


.m-t-10 {
	margin-top: 10px !important
}
.m-t-20 {
	margin-top: 20px !important
}
.m-t-30 {
	margin-top: 30px !important
}
.m-t-40 {
	margin-top: 40px !important
}
.m-t-50 {
	margin-top: 50px !important
}


.no-margin {
	margin:0px !important;
}
.no-pad {
	padding:0px !important;
}


.modal-dialog {
    top: 50%;
    margin: 0px auto !important;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%) !important;
}



body
{	
  margin:0px;
  padding: 0px;  
  height: auto;                                                                                                                                                    
}
.pad-top-10 {
    padding-top: 10px !important;
}
.pad-top-20 {
    padding-top: 20px !important;
}
.pad-top-30 {
    padding-top: 30px !important;
}
.pad-top-40 {
    padding-top: 40px !important;
}
.pad-top-50 {
    padding-top: 50px !important;
}
.pad-top-60 {
    padding-top: 60px !important;
}
.pad-top-70 {
    padding-top: 70px !important;
}
.pad-top-80 {
    padding-top: 80px !important;
}
.pad-top-90 {
    padding-top: 90px !important;
}
.pad-top-100 {
    padding-top: 100px !important;
}
.pad-top-110 {
    padding-top: 110px !important;
}
.pad-top-120 {
    padding-top: 120px !important;
}
.pad-top-130 {
    padding-top: 130px !important;
}
.pad-top-140 {
    padding-top: 140px !important;
}
.pad-top-150 {
    padding-top: 150px !important;
}
.pad-top-160 {
    padding-top: 160px !important;
}
.pad-top-170 {
    padding-top: 170px !important;
}
.pad-top-180 {
    padding-top: 180px !important;
}
.pad-top-190 {
    padding-top: 190px !important;
}
.pad-top-200 {
    padding-top: 200px !important;
}
.pad-bot-10 {
    padding-bottom: 10px !important;
}
.pad-bot-20 {
    padding-bottom: 20px !important;
}
.pad-bot-30 {
    padding-bottom: 30px !important;
}
.pad-bot-40 {
    padding-bottom: 40px !important;
}
.pad-bot-50 {
    padding-bottom: 50px !important;
}
.pad-bot-60 {
    padding-bottom: 60px !important;
}
.pad-bot-80 {
    padding-bottom: 80px !important;
}
.pad-bot-90 {
    padding-bottom: 90px !important;
}
.pad-bot-100 {
    padding-bottom: 100px !important;
}
.pad-bot-110 {
    padding-bottom: 110px !important;
}
.pad-bot-120 {
    padding-bottom: 120px !important;
}
.pad-bot-130 {
    padding-bottom: 130px !important;
}
.pad-bot-140 {
    padding-bottom: 140px !important;
}
.pad-bot-150 {
    padding-bottom: 150px !important;
}
.pad-bot-160 {
    padding-bottom: 160px !important;
}
.pad-bot-170 {
    padding-bottom: 170px !important;
}
.pad-bot-180 {
    padding-bottom: 180px !important;
}
.pad-bot-190 {
    padding-bottom: 190px !important;
} 
.pad-bot-200 {
    padding-bottom: 200px !important;
}
.pad-left-10
{
    padding-left: 10px !important;
}
.pad-left-20
{
    padding-left: 20px !important;
}
.pad-left-30
{
    padding-left: 30px !important;
}
.pad-left-40
{
    padding-left: 40px !important;
}
.pad-left-50
{
    padding-left: 50px !important;
}
.pad-left-60
{
    padding-left: 60px !important;
}
.pad-left-70
{
    padding-left: 70px !important;
}
.pad-left-80
{
    padding-left: 80px !important;
}
.pad-left-90
{
    padding-left: 90px !important;
}
.pad-right-10
{
    padding-right: 10px !important;
}
.pad-right-20
{
    padding-right: 20px !important;
}
.pad-right-30
{
    padding-right: 30px !important;
}
.pad-right-40
{
    padding-right: 40px !important;
}
.pad-right-50
{
    padding-right: 50px !important;
}
.pad-right-60
{
    padding-right: 60px !important;
}
.pad-right-70
{
    padding-right: 70px !important
}
.pad-right-80
{
    padding-right: 80px !important;
}
.pad-right-90
{
    padding-right: 90px !important;
}
.m-b-10 {
    margin-bottom: 10px !important;
}
.m-b-20 {
    margin-bottom: 20px !important;
}
.m-b-25 {
    margin-bottom: 25px !important;
}
.m-b-30 {
    margin-bottom: 30px !important;
}
.m-b-40 {
    margin-bottom: 40px !important;
}
.m-b-50 {
    margin-bottom: 50px !important;
}
.m-b-60 {
    margin-bottom: 60px !important;
}
.m-t-5 {
    margin-top: 5px !important;
}
.m-t-10 {
    margin-top: 10px !important;
}
.m-t-15 {
    margin-top: 15px !important;
}
.m-t-20 {
    margin-top: 20px !important;
}
.m-t-30 {
    margin-top: 30px !important;
}
.m-t-40 {
    margin-top: 40px !important;
}
.m-t-50 {
    margin-top: 50px !important;
}
.m-t-60 {
    margin-top: 60px !important;
}
.m-t-70 {
    margin-top: 70px !important;
}
.m-t-80 {
    margin-top: 80px !important;
}
.m-l-20 {
    margin-left: 20px !important;
}
.m-l-30 {
    margin-left: 30px !important;
}
.m-l-60 {
    margin-left: 60px !important;
}
.m-l-80 {
    margin-left: 80px !important;
}
.m-r-10 {
    margin-right: 10px !important;
}
.m-r-20 {
    margin-right: 20px !important;
}
.m-r-30 {
    margin-right: 30px !important;
}
.m-r-50 {
    margin-right: 50px !important;
}
.m-r-60 {
    margin-right: 50px !important;
}
.no-margin {
    margin:0px !important;
}
.no-pad {
    padding:0px !important;
}

.block-element {
    float: left;
    width: 100%;
}

.block-element2 {
    display: block;
    clear: both;
    width: 100%;
}

.section-1 {
    padding: 50px 50px 40px 50px ;
}

.section-1-1 button {
    font-size: 14px;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    width: 100%;
    font-weight: 400;
    padding: 12px 0px;
}

.section-1-1 button:hover {
  
    background: #fbbd01;
    color: black;
    border: 1px solid #fbbd01;
}

.section-1-3 h1 {
    font-size: 72px;
    color: white;
    margin: 0 auto;
    line-height: 50px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
}

.section-1-3 p {
    font-size: 14px;
    color: white;
    font-weight: 400;
    text-align: center;
}
button {
    outline: none !important;
}

.section-2-1 {
   position: relative;
  width: 100%;

}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all ease-in-out .5s;
  background-color: black;
}


.section-2-1:hover .overlay{
  opacity: 0.9 !important;
}

.overlay a:hover  {
 opacity: unset !important;

}

.section-2-1:hover a{
  opacity: 1;
}
 
a.section-2-3 {
    font-size: 17px;
    background: #fbbd01 !important;
    border: 1px solid #fbbd01;
    border-radius: 4px;
    padding-top: 15px !important;
    color: black !important;
    text-decoration-line: none !important;
    width: 42%;
    padding-bottom: 15px !important;
    font-weight: 500; 
    transition: all ease-in-out .5s;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
}


.section-2-2 {
    padding-top: 30px;
}


.section-1 a {
    display: block !important;
}

.center-row1 {
	align-items: center;
}

main.showcase-sec {
    background-image: url(../images/image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    width: 100%;
    min-height: 100vh;
}


section.copyrights-sec {
    background: #202c39;
    padding: 20px 0px;
}


section.copyrights-sec span {
    color: #6b7580;
    font-weight: 400;
    letter-spacing: 0.4px;
    font-size: 14px;
}

footer {
    background: #1c2732;
 
}


.footer-logo img {
    width: 220px;
}

.footer-logo {
    margin-bottom: 28px;
}


.footer-details ul {
    padding: 0px;
    list-style: none;
    margin: 0px;
}

.footer-details {
    margin-bottom: 28px;
}
.footer-details ul li b {
    color: #6b7580;
    font-weight: 600;
    letter-spacing: 0.4px;
    display: inline-block;
    width: 70px;
}
.footer-details ul li {
    margin-bottom: 6px;
}

.footer-details ul li a {
    color: #6b7580;
    font-weight: 400;
    letter-spacing: 0.4px;
}
.footer-social a {
    border: 1px solid #6b7580;
    color: white;
    font-size: 14px;
    width: 36px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    margin-right: 8px;
}


.footer-heading1 {
    color: white;
    font-size: 18px;
    letter-spacing: 0.4px;
    margin: 18px 0px 28px 0px;
}


.footer-list {
    float: left;
    width: 100%;
}

.footer-list ul {
    padding: 0px;
    list-style: none;
    margin: 0px;
}
.footer-list ul li a {
    color: #6b7580;
    font-weight: 400;
    letter-spacing: 0.4px;
}
.footer-list ul li {
    margin-bottom: 5px;
}


.footer-list ul li a:hover , .footer-details ul li a:hover {
    color:white;
}


.footer-social a:hover {
    background:white;
    color:black;
}
.footer-about {
    float: left;
    width: 100%;
}


 

.callback-head {
    float: left;
    width: 100%;
    background: #5000ff;
    padding: 15px 20px;
}
.callback-head h4 {
    color: white;
    margin: 0px;
    font-size: 24px;
    letter-spacing: 0.1px;
}
.callback-form {
    float: left;
    width: 130%;
    background: #16202a;
    margin-left: -30%;
    max-width: 130%;
}
.callback-form-content {
    float: left;
    width: 100%;
    padding: 20px 20px;
}

.callback-form-content p {
    color: white;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
}

.form-field1 {
    width: 100%;
    display: block;
    margin-bottom: 12px;
}




.field-style1 {
    width: 100%;
    background: #202c39;
    border: none;
    color: white;
    padding: 0px 8px;
    height: 32px;
    letter-spacing: 0.4px;
    font-size: 12px;
}

.submit-btn1 {
    background: #5000ff;
    border: none;
    color: white;
    font-weight: 500;
    letter-spacing: 0.7px;
    padding: 7px 28px;
    border-radius: 18px;
    font-size: 14px;
    margin-top: 5px;
}



.footer-about, .footer-list {
    margin-top: 30px;
}

.sec-head1 h3 {
    font-size: 35px;
    font-weight: 400;
    margin: 0px 0px 7px 0px;
    letter-spacing: 0.6px;
}
.sec-head1 p {
    font-size: 21px;
    letter-spacing: 0.2px;
    max-width: 460px;
    line-height: 30px;
}
.related-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    grid-row-gap: 15px;
}
.related-grid a {
    width: 31%;
    background: #5000ff;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-row1 {
    align-items: center;
}
.sec-head1 {
    float: left;
    width: 100%;
 
}

.sec-head2 h3 {
    font-weight: 700;
    font-size: 46px;
    margin: 0px 0px 10px 0px;
}


.sec-head2 p {
    font-size: 23px;
    letter-spacing: 0.4px;
}
.highlight-tag {
    font-weight: 700;
    position: relative;
    display: inline-block;
    margin: 0px 3px;
}
.highlight-tag img {
    position: absolute;
    left: -6%;
    top: 100%;
    width: 110%;
    max-width: 110%;
}

.submit-btn1:hover {
    background: #ffd300;
    color: #16202a;
}
.related-grid a:hover {
    background: #ffd300;
    color: #0f1432;
    font-weight: 600;
}

.testimonial-box {
    width: 100%;
    text-align: center;
}
.testimonial-box img {
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.testimonial-box p {
    font-size: 17px;
    letter-spacing: 0.6px;
    max-width: 760px;
    margin: auto;
    margin-bottom: 30px;
    width: 100%;
}

.testimonial-box h4 {
    margin: 0px 0px 8px 0px;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.4px;
}
.testimonial-box h5 {
    font-size: 14px;
    letter-spacing: 0.3px;
    margin: 0px;
}

.arrows-1 button.slick-arrow {
    display: none !important;
}

.arrows-1 .slick-dots {
    position: static;
    margin: 25px 0px 0px 0px !important;
}

.arrows-1 .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 13px;
    height: 13px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: #e1e1e1;
    border-radius: 100%;
}

.arrows-1 .slick-dots li button:before {
    font-size: 0px;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 4px;
    padding: 0;
    cursor: pointer;
}

.arrows-1 .slick-dots li.slick-active button {
    background:#5000ff;
}

.cta-sec {
    float: left;
    width: 100%;
    background: #5100fd;
    padding: 90px 0px;
}

.cta-sec h5 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.8px;
    margin-bottom: 15px;
}



.cta-sec h5 b {
    font-weight: 700;
}


.cta-sec h3 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin-bottom: 35px;
}

.custom-btn1 {
    border:none;
    background: #ffd300;
    color: black;
    font-weight: 500;
    letter-spacing: 0.3px;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 14px;
}

.custom-btn1:hover {
    background: white;
    color: black;
}
.feature-box {
    float: left;
    width: 100%;
    padding-left: 60px;
    margin-bottom: 40px;
}
.feature-box img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
}

.feature-box h3 {
    font-weight: 700;
    margin: 0px;
    font-size: 35px;
}
.feature-box h5 {
    margin: 2px 0px 4px 0px;
    letter-spacing: 0.4px;
    font-weight: 500;
    font-size: 16px;
}
.feature-box p {
    font-size: 14px;
    letter-spacing: 0.3px;
    max-width: 200px;
}

footer .container {
    max-width: 1170px;
}

.banner-1 {
    background-image: url("../images/banner-1.jpg");
}

.page-banner {
    background-size: cover;
    background-position: top center;
    padding: 180px 0px 130px 0px;
}
.page-banner-text {
    text-align: center;
}

.page-banner-text h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 12px;
}

.page-banner-text h5 {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.2px;
}
header {
    padding: 15px 0px;
    position: fixed;
    top: 0px;
    z-index: 999;
    left: 0px;
    width: 100%;
}
.logo img {
    width: 200px;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-custom {
    display: flex;
    justify-content: start;
    align-items: center;
    grid-gap: 45px;
}
.menu-item a {
    color: white;
    font-weight: 400;
    letter-spacing: 0.6px;
    font-size: 13px;
    padding: 12px 0px;
}

.custom-btn2 {
    background: #5000ff;
    padding: 12px 20px !important;
    border-radius: 5px;
    font-weight: 600 !important;
    letter-spacing: 1px !important;
    margin-left: 30px;
}

.custom-btn2:hover {
    background:#ffd300;
    color:black !important;
}
.menu-item a:hover {
    color:#ffd300;
}
.header-fixed header { 
    background: #0f1432;
}

.navbar-handler {
    display: none;
}


.card-image {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}


.card-image img {
    width: 100%;
    border-radius: 5px;
}
.fancybox-caption__body {
    background: purple;
    display: inline-block;
    padding: 5px 30px;
    letter-spacing: 1px;
}

.custom-pad1 {
    padding:0px 10px;
}

.custom-row1 {
    margin:0px -10px;
}




/*About CSS Starts Here*/
.about-banner-bg {
    background-image: url(../images/about-bg.png);
}
.numbers-box {
    float: left;
    width: 113%;
    border-right: 1px solid rgb(255 255 255 / 30%);
    padding-right: 10px;
    padding: 8px 10px 8px 0px;
}
.numbers-box h3 {
    font-size: 25px;
    color: white;
    font-weight: 700;
    margin: 0px 0px 6px 0px;
}
.numbers-box h5 {
    font-size: 15px;
    font-weight: 300;
    color: white;
    line-height: 22px;
    letter-spacing: 0.3px;
    margin: 0px;
}
.numbers-row {
    border: 1px solid rgb(255 255 255 / 30%);
    padding: 10px 10px 10px 15px;
}
.no-border {
    border:none !important;
}
.about-banners-text h2 {
    font-size: 35px;
    color: white;
    font-weight: 700;
    line-height: 50px;
}
.about-form-wrapper {
    background: white;
    max-width: 420px;
    margin: auto;
    padding: 26px 25px 23px 25px;
}
.about-form-head {
    display: block;
    margin-bottom: 15px;
}
.about-form-head h4 {
    color: #474747;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin: 0px;
}
.field-style2 {
    width: 100%;
    border: none;
    border-bottom: 1px solid #C0C0C0;
    color: black;
    letter-spacing: 0.3px;
    font-size: 14px;
    height: 40px;
    font-weight: 400;
}
.field-style2::placeholder {
    color:#666666;
}

textarea.field-style2 {
    border: 1px solid #C0C0C0;
    padding: 8px;
    height: 80px;
}
.form-field2 {
    display: block;
    margin-bottom: 10px;
}
span.info-tag1 {
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: black;
    letter-spacing: 0.2px;
}
.field-style3 {
    width: 100%;
    background: #eee;
    height: 32px;
    padding: 3px;
    border-radius: 3px;
    color: black;
    font-size: 13px;
}
.submit-btn2 {
    background: #5000FF;
    border: none;
    padding: 11px 30px;
    font-size: 15px;
    color: white;
    font-weight: 500;
    letter-spacing: 0.8px;
    border-radius: 4px;
}
.end-row1 {
    align-items: end;
}
.all-client-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec-head3 h3 {
    font-size: 34px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0.5px;
}
.custom-image1 {
    float: left;
    width: 108%;
}
.custom-image1 img {
width: 100%;
}
.detail-text {
    float: left;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px 1px rgb(174 174 174 / 25%);
    padding: 24px 26px;
    margin-left: -5%;
    width: 105%;
    z-index: 99;
}
.detail-text h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.3px;
    margin: 0px 0px 10px 0px;
}
.detail-text p {
    font-size: 14px;
    letter-spacing: 0.2px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 17px;
}
.custom-btn3 {
    background: #FFD300;
    border:1px solid #FFD300;
    color: black;
    font-weight: 600;
    padding: 11px 25px;
    letter-spacing: 0.6px;
    border-radius: 5px;
    font-size: 13px;
}
.custom-btn3:hover {
    background:#5000ff;
    border:1px solid #5000ff;
    color:white;
}
.custom-btn4 {
    background: none;
    color: #5000FF;
    border:1px solid #5000FF;
    font-weight: 600;
    padding: 11px 25px;
    letter-spacing: 0.6px;
    border-radius: 5px;
    font-size: 13px;
}
.custom-btn4:hover {
    background:#5000ff;
    color:white;
}
.detail-text2 {
    float: left;
    width: 100%;
}
.buttons-holder1 {
    float: left;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    grid-gap: 15px;
}
.detail-text2 h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.3px;
    margin: 0px 0px 10px 0px;
}
.detail-text2 p {
    font-size: 14px;
    letter-spacing: 0.2px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 17px;
}
.text-tag1 {
    color: #323232;
    font-weight: 600;
    border-bottom: 1px solid #5000ff;
    font-size: 16px;
    letter-spacing: 0.2px;
    margin-bottom: 22px;
    display: inline-block;
}
.custom-image2 {
    float: left;
    width: 100%;
}
.custom-image2 img {
    width: 100%;
}
.service-box {
    float: left;
    height: 100%;
    width: 100%;
    padding: 0px 0px 0px 25px;
    border-left: 1px solid rgb(255 255 255 / 52%);
}
.service-box h5 {
    font-size: 21px;
    margin: 3px 0px 10px 0px;
    font-weight: 700;
    letter-spacing: 0.6px;
    max-width: 90%;
    line-height: 29px;
}
.service-box p {
    line-height: 24px;
    letter-spacing: 0.5px;
}
.services-head {
    float: left;
    width: 100%;
}
.services-head p {
    font-size: 15px;
    letter-spacing: 0.5px;
    max-width: 80%;
    line-height: 26px;
}
.services-head h3 {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 45px;
    margin: 0px 0px 10px 0px;
}
.services-head h3 b {
    display: block;
    font-weight: 700;
    font-size: 125%;
    line-height: 120%;
}
.recent-project-slider {
    margin:auto;
    max-width: 800px;
}
.recent-project-slider div img {
    width: 100%;
    margin: auto;
}
.arrows-2 button.slick-arrow {
    border: 1px solid #757575 !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 100%;
    z-index: 99;
}
.arrows-2 button.slick-arrow:hover {
    background:#5000FF !important;
    border:1px solid #5000FF !important;
}
.arrows-2 button.slick-arrow:hover:before {
    color:white !important;
}
.arrows-2 .slick-prev:before {
    content: '<';
    color: grey !important;
    font-family: cursive;
    font-size: 25px;
}
.arrows-2 .slick-next:before {
    content: '>';
    color: grey !important;
    font-family: cursive;
    font-size: 25px;
}
.arrows-2 button.slick-prev.slick-arrow {
    left: -9%;
}
.arrows-2 button.slick-next.slick-arrow {
    right: -9%;
}
.tabs-handler1 {
    float: left;
    width: 100%;
}
.tabs-handler1 ul {
    border: none;
    display: flex;
    flex-flow: column;
    border-left: 2px solid #CBCBCB;
    height: 100%;
    padding: 20px 0px;
}
.tabs-handler1 ul li .nav-link {
    color: #A4A4A4;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.2px;
    border: none !important;
    border-left: 2px solid transparent !important;
    border-radius: 0px;
    padding: 18px 15px;
    margin-left: -2px;
}
.tabs-handler1 .nav-tabs .nav-item.show .nav-link, .tabs-handler1 .nav-tabs .nav-link.active {
    color: #010101;
    border-left: 2px solid #000000 !important;
}
.tabs-content1 {
    float: left;
    width: 118%;
    background: #5000FF;
    padding: 32px 35px;
    max-width: 120%;
}
.tabs-content1 .tab-content {
    width: 100%;
    max-width: 650px;
}
.custom-image3 {
    float: left;
    width: 100%;
}
.custom-image3 img {
    width: 100%;
}
.submit-btn2:hover {
    background:#FFD300;
    color:black;
}



/*Services Page CSS*/

.custom-image4 {
    float: left;
    width: 100%;
}
.custom-image4 img {
    width: 100%;
    max-width: 570px;
    margin: auto;
    display: block;
}
.detail-text3 {
    float: left;
    width: 100%;
}
.detail-text3 h3 {
    font-weight: 700;
    font-size: 27px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}
.detail-text3 p {
    font-size: 15px;
    letter-spacing: 0.3px;
    line-height: 28px;
    margin-bottom: 15px;
    font-weight: 400;
}
.list-3 {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.custom-btn5 {
    color: #181818;
    font-weight: 600;
    letter-spacing: 0.3px;
    padding: 5px 2px;
    position: relative;
    padding-left: 30px;
}
.list-3 li {
    margin-bottom: 2px;
}
.custom-btn5 svg {
    position: absolute;
    left: 0px;
    top: 10px;
}
.service-banner-text h5 {
    font-size: 17px;
    letter-spacing: 0.4px;
    font-weight: 500;
    margin-bottom: 15px;
}
.service-banner-text h3 {
    font-weight: 700;
    font-size: 33px;
    line-height: 50px;
    max-width: 900px;
}
section.header-bg {
    background: #0f1432;
    height: 85px;
}
.custom-image5 {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.custom-image5 img {
    width: 100%;
}
section.buildings-sec {
    background-image: url(../images/building-bg1.png);
    background-size: cover;
    padding: 90px 0px;
}
.building-block {
    float: left;
    width: 100%;
    background: white;
    padding: 26px 30px 30px 30px;
    max-width: 400px;
}
.building-block h5 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 32px;
    margin-bottom: 21px;
}
.building-block p {
    line-height: 25px;
    letter-spacing: 0.3px;
    margin-bottom: 22px;
}
.category-block {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.category-block img {
    width: 100%;
}
.category-block h5 {
    font-size: 16px;
    letter-spacing: 0.5px;
    margin: 15px 0px;
    font-weight: 600;
}
.quote-box {
    max-width: 580px;
    margin: auto;
    padding-left: 65px;
    position: relative;
}
.quote-box img {
    width: 45px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.quote-box h4 {
    padding: 5px 0px 5px 0px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.3px;
    line-height: 30px;
}
.quote-box p {
    font-size: 18px;
    letter-spacing: 0.2px;
    font-weight: 500;
}






/*Contact Page CSS Starts Here*/


 .contact-wrapper {
    float: left;
    width: 100%;
    background: #EFF1FA;
    padding: 40px 30px;
}
.contact-form-head {
    float: left;
    width: 100%;
    margin-bottom: 22px;
    position: relative;
    padding-left: 100px;
}
.contact-form-head h4 {
    color: black;
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 0.2px;
    line-height: 30px;
}
.contact-form-head img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 78px;
}
.contact-form-block {
    float: left;
    width: 100%;
}
.step-head {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.step-head h4 {
    color: #3D3D3D;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 19px;
}

.form-field4 {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.form-field5 {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.field-style4 {
    width: 100%;
    border: 1px solid #C2C4CC;
    color: black;
    background: none;
    height: 58px;
    padding: 12px 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 5px;
}
textarea.field-style4 {
    height: 140px;
}


.field-style5 {
    width: 100%;
    border: 1px solid #5000FF;
    color: black;
    background: none;
    height: 58px;
    padding: 12px 22px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 5px;
}


.form-field5 span {
    display: inline-block;
    background: #eff1fa;
    margin-bottom: -20px;
    vertical-align: middle;
    z-index: 99;
    position: relative;
    margin-left: 22px;
    font-size: 13px;
    padding: 0px 5px;
}


.contact-item1 {
    float: left;
    width: 100%;
 
}
.contact-item1 h3 {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.2px;
    margin-bottom: 12px;
}

.contact-item1 p {
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 25px;
    font-weight: 500;
}
.contact-info-parent {
    float: left;
    width: 100%;
    border-left: 2px solid rgba(80, 0, 255, 0.2);
    padding-left: 15px;
    height: 77%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.contact-info-box {
    float: left;
    width: 100%;
    position: relative;
}
.contact-info-box h5 {
    color: #656566;
    font-size: 17px;
    letter-spacing: 0.2px;
    font-weight: 600;
    line-height: 23px;
    margin-bottom: 7px;
    margin-top: 0px;
}
.contact-info-box p {
    color: #8B8B8D;
    letter-spacing: 0.2px;
    line-height: 23px;
    font-weight: 500;
    font-size: 15px;
}

.dot-1 {
    position: absolute;
    font-size: 0px;
    width: 18px;
    height: 18px;
    background: #5000FF;
    border-radius: 100%;
    left: -26px;
    top: 0px;
    border: 3px solid white;
}

.dropzone {
    background: none;
    border-radius: 5px;
    border: 1px dashed rgb(177 177 177);
    border-image: none;
    min-height: 0px;
    padding: 0px;
}
.dropzone .dz-message {
    margin: 0px;
    text-align: left;
}

div#demo-upload {
    text-align: left;
    display: block;
    padding: 20px;
    cursor: pointer !important;
}

.dropzone .dz-preview .dz-image {
    border-radius: 10px;
    overflow: hidden;
    width: 90px;
    height: 90px;
    position: relative;
    display: block;
    z-index: 10;
}


.dropzone .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 15px 20px 0px 0px;
    min-height: 0px;
    border-radius: 10px;
}

.dropzone .dz-message svg {
    margin-right: 10px;
    color: grey;
    font-size: 18px;
    vertical-align: middle;
}





/*Time Slot Booking CSS*/

 
.wrapper .timepicker-cf {
  height: 60px;
  width: 100%;
}
.wrapper .timepicker {
  position: absolute;
  top: 200px;
  width: 80%;
  height: 0px;
  background: #667483;
  overflow: hidden;
}
.wrapper .timepicker .owl, .wrapper .timepicker .owl-stage {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}
.wrapper .timepicker .owl .owl-item, .wrapper .timepicker .owl-stage .owl-item {
  font-size: 1.1em;
  display: inline-block;
  font-weight: 600;
  color: white;
  text-align: center;
  min-width: 100px;
  opacity: 0.4;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.wrapper .timepicker .owl .center-n, .wrapper .timepicker .owl-stage .center-n {
  font-size: 1.5em;
  opacity: 0.7;
}
.wrapper .timepicker .owl .center, .wrapper .timepicker .owl-stage .center {
  font-size: 2em;
  opacity: 1;
}
.wrapper .fade-l {
  position: absolute;
  height: 100%;
  width: 150px;
  left: 0;
  top: 0;
  background: -moz-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#00ffffff",GradientType=1 );
}
.wrapper .fade-r {
  position: absolute;
  height: 100%;
  width: 150px;
  right: 0;
  top: 0;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00ffffff", endColorstr="#ffffff",GradientType=1 );
}
.wrapper .owl-prev, .wrapper .owl-next {
  z-index: 20;
  position: absolute;
  width: 20px;
  top: 20px;
  color: #667483;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background: none;
  border: 0;
  font-size: 1em;
}
.wrapper .owl-prev {
  left: 20px;
}
.wrapper .owl-prev:before {
  content: "";
  font-family: FontAwesome;
}
.wrapper .owl-prev:hover {
  left: 18px;
  transition: 0.2s ease-in-out;
}
.wrapper .owl-next {
  right: 20px;
}
.wrapper .owl-next:hover {
  right: 18px;
  transition: 0.2s ease-in-out;
}
.wrapper .owl-next:before {
  content: "";
  font-family: FontAwesome;
}

.inner-wrap {
  padding: 0 10%;
}
.inner-wrap .request {
  width: 100%;
  height: 50px;
  text-align: left;
  padding: 0 20px;
  border: none;
  background: #667483;
  color: #fff;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  position: relative;
}
.inner-wrap .request br {
  display: none;
}
.inner-wrap .request .sendRequest {
  position: absolute;
  right: 20px;
  top: 16px;
}
.inner-wrap .request .sendRequest:before {
  content: "";
  font-family: FontAwesome;
}
.inner-wrap .request:hover {
  padding-right: 15px;
  transition: all 0.2s ease-in-out;
}
.inner-wrap .request.disabled {
  opacity: 0.8;
  pointer-events: none;
  background: #888d93;
  transition: all 0.3s ease-in-out;
}
.inner-wrap .disabled span {
  display: none;
}
.inner-wrap input {
  border: none;
}
.inner-wrap .form-name {
  display: flex;
  position: relative;
  height: 50px;
  align-items: flex-end;
  margin-bottom: 13px;
}
.inner-wrap .form-name label, .inner-wrap .form-name input {
  font-size: 1em;
  font-weight: 600;
  color: #667483;
}
.inner-wrap .form-name label {
  position: absolute;
  margin: 0;
  left: 10px;
  top: 15px;
  transition: all 250ms ease 0s;
}
.inner-wrap .form-name input {
  height: 80%;
  width: 100%;
  border-bottom: 2px solid #667483;
  padding: 0 10px;
}
.inner-wrap .form-name input:focus {
  outline: none;
}
.inner-wrap .form-name input:focus + label {
  font-size: 0.8em;
  left: 0.15rem;
  top: 0%;
}
.inner-wrap .form-name input:invalid {
  border-bottom: 2px solid #c23616;
  color: #c23616;
}
.inner-wrap .form-name input:invalid + label {
  font-size: 0.8em;
  color: #c23616;
  left: 0.15rem;
  top: 0%;
}
.inner-wrap .form-name:last-of-type {
  margin-bottom: 50px;
}

#calendar {
  overflow: hidden;
  position: relative;
}
#calendar .header {
  width: 100%;
  height: 160px;
  background-image: url("http://www.wallnoefer.it/fileadmin/_processed_/csm_terminvereinbarung_902fa70775.jpg");
  background-size: 100% auto;
}
#calendar .header .overlay {
  width: 100%;
  height: 100%;
  background: rgba(106, 102, 95, 0.6);
  color: #fff;
  padding: 3% 5%;
  display: flex;
  align-items: flex-end;
}
#calendar .header h1 {
  font-size: 2em;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  letter-spacing: 1%;
}
#calendar .monthChange {
  background: #fff;
  width: 100%;
  height: 0;
  position: absolute;
  top: 160px;
  z-index: 20;
}
#calendar .ui-datepicker {
  display: none;
  width: 100%;
  margin: auto;
  padding: 30px 10% 30px 10%;
  text-transform: uppercase;
  background: #fff;
  transition: all 0.2s ease-in-out;
}
#calendar .ui-datepicker .ui-datepicker-header {
  position: relative;
  margin-bottom: 10px;
}
#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  text-align: center;
  font-weight: 700;
  color: #353C42;
}
#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-title .ui-datepicker-month {
  position: relative;
  padding-right: 5px;
}
#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  top: -5px;
  position: absolute;
  padding: 5px;
  cursor: pointer;
}
#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  left: 0;
}
#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  right: 0;
}
#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:before {
  content: "";
  font-family: FontAwesome;
}
#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-next:after {
  content: "";
  font-family: FontAwesome;
}
#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-prev span,
#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-next span {
  display: inline-block;
  text-indent: -9999px;
}
#calendar .ui-datepicker .ui-datepicker-calendar {
  width: 100%;
}
#calendar .ui-datepicker .ui-datepicker-calendar th {
  line-height: 30px;
  padding-top: 15px;
  text-align: center;
  font-weight: 600;
  font-size: 0.95em;
  color: #667483;
}
#calendar .ui-datepicker .ui-datepicker-calendar td {
  padding: 0 7px;
  text-align: center;
  height: 34px;
  font-weight: 600;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}
#calendar .ui-datepicker .ui-datepicker-calendar td:hover {
  background: #efefef;
  transition: all 0.2s ease-in-out;
}
#calendar .ui-datepicker .ui-datepicker-calendar .ui-datepicker-current-day {
    background: #5000ff;
    border-bottom: none;
    border-radius: 5px;
}
#calendar .ui-datepicker .ui-datepicker-calendar .ui-datepicker-current-day.open {
  margin-bottom: 100px;
}
#calendar .ui-datepicker .ui-datepicker-calendar .ui-datepicker-today .ui-state-default {
  border-bottom: 2px solid rgba(53, 60, 66, 0.5);
}
#calendar .ui-datepicker .ui-datepicker-calendar .ui-state-default {
  text-decoration: none;
  color: #353C42;
}
#calendar .ui-datepicker .ui-datepicker-calendar .ui-datepicker-other-month {
  pointer-events: none;
}
#calendar .ui-datepicker .ui-datepicker-calendar .ui-datepicker-other-month .ui-state-default {
  color: #919BA3;
}

@media only screen and (max-width: 600px) {
  .wrapper .inner-wrap .request br {
    display: block;
  }
}

#calendar .ui-datepicker {
    padding: 20px 30px;
    max-width: 500px;
    float: left;
    margin-bottom: 20px;
}
.inner-wrap {
    padding: 0px;
    max-width: 500px;
    margin-bottom: 35px;
}
.wrapper .timepicker {
    transform: translate(0px, -170px);
    max-width: 500px;
}

#calendar .ui-datepicker .ui-datepicker-calendar .ui-datepicker-current-day a {
    color: white;
}

#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-next::after {
    content: ">";
    font-family: cursive;
    font-size: 20px !important;
    color: black;
    background: #dddee1 !important;
    width: 22px !important;
    height: 22px !important;
    display: inline-block;
    line-height: 18px;
    text-align: center;
    border-radius: 100%;
}

#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-prev::before {

    content: "<";
    font-family: cursive;
    font-size: 20px !important;
    color: black;
    background: #dddee1 !important;
    width: 22px !important;
    height: 22px !important;
    display: inline-block;
    line-height: 18px;
    text-align: center;
    border-radius: 100%;

}


/*Media Queries Of Website*/

/*Small Laptops*/
@media screen and (max-width:992px) and (min-width:768px) { 

.section-1 {
    padding: 50px 0px 40px 0px;
}

.section-1-3 h1 {
    font-size: 52px;
    color: white;
    margin: 0 auto;
    line-height: 50px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 5px;
}
.sec-head1 {
    float: left;
    width: 100%;
    padding-left: 0px;
}
.sec-head1 p br {
    display: none;
}
.related-grid a {
    height: 140px;
}
.sec-head1 h3 {
    font-size: 35px;
    font-weight: 400;
    margin: 0px 0px 7px 0px;
    letter-spacing: 0.3px;
}
.sec-head1 p {
    font-size: 18px;
    letter-spacing: 0.2px;
    max-width: 460px;
    line-height: 28px;
}
.sec-head2 h3 {
    font-weight: 700;
    font-size: 40px;
    margin: 0px 0px 10px 0px;
}
.sec-head2 p {
    font-size: 20px;
    letter-spacing: 0.4px;
}
.navbar-custom {
    display: flex;
    justify-content: start;
    align-items: center;
    grid-gap: 20px;
}
.about-banners-text h2 {
    font-size: 28px;
    color: white;
    font-weight: 700;
    line-height: 44px;
}
.numbers-box {
    width: 100%;
    border: none;
}
.arrows-2 button.slick-arrow {
    width: 35px !important;
    height: 35px !important;
    background: white !important;
}
.arrows-2 button.slick-next.slick-arrow {
    right: -10px;
}
.arrows-2 button.slick-prev.slick-arrow {
    left: -10px;
}
.arrows-2 .slick-arrow:before {
    line-height: 7px;
}
.tabs-content1 {
    float: left;
    width: 102%;
    background: #5000FF;
    padding: 32px 35px;
    max-width: 120%;
}
.tabs-handler1 ul {
    padding: 0px;
}
.detail-text3 h3 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
}
.detail-text3 p {
    font-size: 15px;
    letter-spacing: 0.3px;
    line-height: 25px;
    margin-bottom: 10px;
    font-weight: 400;
}
}


/*Tablet Devices*/
@media screen and (max-width:767px) and (min-width:520px) { 




.section-1 {
    padding: 50px 0px;
}

.section-1-3 h1 {
    font-size: 42px;
    color: white;
    margin: 0 auto;
    line-height: 42px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 5px;
}

.section-1-3 {
    margin-top: 30px;
}
.section-2-1 {
    max-width: 350px;
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
}

.footer-list {
    float: left;
    width: 100%;
    margin-top: 35px;
}

footer {
    padding: 50px 0px;
}
.footer-about {
    margin-top: 0px;
}
.callback-form {
    width: 100%;
    margin: 0px;
    max-width: 400px;
    margin-top: 40px;
}


.sec-head1 {
    padding: 0px;
    text-align: center;
    margin-bottom: 35px;
}
.sec-head1 p {
    font-size: 20px;
    letter-spacing: 0.2px;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
    line-height: 28px;
}
.sec-head1 p br {
    display: none;
}
.related-grid a {
    height: 140px;
}
.sec-head2 h3 {
    font-size: 36px;
}
.sec-head2 p {
    font-size: 18px;
    letter-spacing: 0.4px;
}
.highlight-tag img {
    position: absolute;
    left: -6%;
    top: 80%;
    width: 110%;
    max-width: 110%;
}
.cta-sec {
    padding: 50px 20px;
}
.cta-sec h5 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.8px;
    margin-bottom: 15px;
}
.cta-sec h3 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin-bottom: 25px;
}
.feature-box img {
    position: static;
    left: 10px;
    top: 0px;
    width: 52px;
    margin-bottom: 20px;
}
.feature-box p {
    font-size: 14px;
    letter-spacing: 0.3px;
    max-width: 100%;
    margin: auto;
}
.feature-box h3 {
    font-weight: 700;
    margin: 0px;
    font-size: 31px;
}
.feature-box {
    padding: 0px;
    text-align: center;
}
.page-banner-text h2 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 12px;
}

.page-banner-text h5 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 31px;
}


.header-row {
    display: block;
}


.navbar-handler {
    display: block;
    float: right;
    width: 30px;
    margin-top: 15px;
}
.navbar-custom {
    float: left;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    grid-gap: 2px;
    flex-flow: column;
    padding-top: 10px;
    padding-bottom: 10px;
        display: none;
}
.custom-btn2 {
    margin-left: 0px;
}
.logo {
    float: left;
}
 header {
    background: #0f1432;
}
.about-banners-text h2 {
    font-size: 28px;
    line-height: 44px;
}
.numbers-box {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid rgb(255 255 255 / 30%) !important;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
.numbers-row {
    border: 1px solid rgb(255 255 255 / 30%);
    padding: 15px 10px 10px 15px;
    margin-bottom: 40px;
}
.about-form-wrapper {
    float: left;
}
.all-client-logos {
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 20px;
}
.custom-image1 {
    float: left;
    width: 100%;
}
.custom-image1 img {
    width: 100%;
    max-width: 550px;
}
.custom-image2 img {
    width: 100%;
    max-width: 550px;
}
.custom-image2 {
    margin-bottom: 30px;
}
.arrows-2 button.slick-arrow {
    width: 35px !important;
    height: 35px !important;
    background: white !important;
}
.arrows-2 button.slick-next.slick-arrow {
    right: -10px;
}
.arrows-2 button.slick-prev.slick-arrow {
    left: -10px;
}
.arrows-2 .slick-arrow:before {
    line-height: 7px;
}
.tabs-handler1 ul {
    border: none;
    display: flex;
    flex-flow: row;
    border-left: none;
    height: auto;
    padding: 0px 0px;
    flex-wrap: wrap;
    grid-gap: 15px;
}
.tabs-handler1 {
    float: left;
    width: 100%;
    margin-bottom: 35px;
}
.tabs-handler1 ul li .nav-link {
    padding: 8px 16px;
    border: 1px solid silver !important;
}
.tabs-handler1 .nav-tabs .nav-item.show .nav-link, .tabs-handler1 .nav-tabs .nav-link.active {
    color: #010101;
    border-left: 2px solid #000000 !important;
    background: black !important;
    border: 1px solid black !important;
    color: white !important;
}
.tabs-content1 {
    width: 100%;
    padding: 25px 20px;
}
.custom-image3 {
    float: left;
    width: 100%;
    max-width: 350px;
    margin-bottom: 25px;
}

.custom-image4 {
    float: left;
    width: 100%;
    margin-bottom: 22px;
}
.detail-text3 h3 {
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
}
.custom-image4 img {
    max-width: 500px;
    float: left;
}
.custom-image5 img {
    max-width: 500px;
    float: left;
}
.category-block {
    text-align: center;
}
.category-block img {
    width: 100%;
    max-width: 330px;
}
.contact-item1 {
    float: left;
    width: 100%;
    text-align: center;
}
.contact-info-parent {
    height: auto;
    border: none;
    padding: 0px;
}
.dot-1 {
    display: none;
}
.contact-info-box {
    text-align: center;
    margin-bottom: 30px;
}
.contact-form-head {
    float: left;
    width: 100%;
    margin-bottom: 22px;
    position: relative;
    padding-left: 0px;
}
.contact-form-head img {
    position: static;
    left: 0px;
    top: 0px;
    width: 60px;
}
.contact-form-head h4 {
    color: black;
    font-weight: 700;
    font-size: 21px;
    letter-spacing: 0.2px;
    line-height: 30px;
}
.contact-wrapper {
    float: left;
    width: 100%;
    background: #EFF1FA;
    padding: 40px 20px;
}
.step-head h4 {
    color: #3D3D3D;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 18px;
}
}
























/*Mobile Devices*/
@media screen and (max-width:519px) and (min-width:320px) { 



.section-1 {
    padding: 50px 0px;
}

.section-1-3 h1 {
    font-size: 42px;
    color: white;
    margin: 0 auto;
    line-height: 42px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 5px;
}

.section-1-3 {
    margin-top: 30px;
}
.section-2-1 {
    max-width: 350px;
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
}
.footer-list {
    float: left;
    width: 100%;
    margin-top: 35px;
}

footer {
    padding: 50px 0px;
}
.footer-about {
    margin-top: 0px;
}
.callback-form {
    width: 100%;
    margin: 0px;
    max-width: 400px;
    margin-top: 40px;
}


.sec-head1 {
    padding: 0px;
    text-align: center;
    margin-bottom: 35px;
}
.sec-head1 p {
    font-size: 20px;
    letter-spacing: 0.2px;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
    line-height: 28px;
}
.sec-head1 p br {
    display: none;
}
.related-grid a {
    height: 140px;
}
.sec-head2 h3 {
    font-size: 36px;
}
.sec-head2 p {
    font-size: 18px;
    letter-spacing: 0.4px;
}
.highlight-tag img {
    position: absolute;
    left: -6%;
    top: 80%;
    width: 110%;
    max-width: 110%;
}

.cta-sec {
    padding: 50px 20px;
}
.cta-sec h5 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.8px;
    margin-bottom: 15px;
}
.cta-sec h3 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin-bottom: 25px;
}
.feature-box img {
    position: static;
    left: 10px;
    top: 0px;
    width: 52px;
    margin-bottom: 20px;
}
.feature-box p {
    font-size: 14px;
    letter-spacing: 0.3px;
    max-width: 100%;
    margin: auto;
}
.feature-box h3 {
    font-weight: 700;
    margin: 0px;
    font-size: 31px;
}
.feature-box {
    padding: 0px;
    text-align: center;
}
.page-banner-text h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 12px;
}

.page-banner-text h5 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 31px;
}


.header-row {
    display: block;
}


.navbar-handler {
    display: block;
    float: right;
    width: 30px;
    margin-top: 15px;
}
.navbar-custom {
    float: left;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    grid-gap: 2px;
    flex-flow: column;
    padding-top: 10px;
    padding-bottom: 10px;
        display: none;
}
.custom-btn2 {
    margin-left: 0px;
}
.logo {
    float: left;
}
 header {
    background: #0f1432;
}

.about-banners-text h2 {
    font-size: 28px;
    line-height: 44px;
}
.numbers-box {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid rgb(255 255 255 / 30%) !important;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
.numbers-row {
    border: 1px solid rgb(255 255 255 / 30%);
    padding: 15px 10px 10px 15px;
    margin-bottom: 40px;
}
.all-client-logos {
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 20px;
}
.sec-head3 h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.5px;
}
.custom-image1 {
    width: 100%;
}
.custom-image2 {
    float: left;
    width: 100%;
    margin-bottom: 35px;
}
.services-head h3 {
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 42px;
    margin: 0px 0px 10px 0px;
}
.arrows-2 button.slick-arrow {
    width: 35px !important;
    height: 35px !important;
    background: white !important;
}
.arrows-2 button.slick-next.slick-arrow {
    right: -10px;
}
.arrows-2 button.slick-prev.slick-arrow {
    left: -10px;
}
.arrows-2 .slick-arrow:before {
    line-height: 7px;
}

.tabs-handler1 ul {
    border: none;
    display: flex;
    flex-flow: row;
    border-left: none;
    height: auto;
    padding: 0px 0px;
    flex-wrap: wrap;
    grid-gap: 15px;
}
.tabs-handler1 {
    float: left;
    width: 100%;
    margin-bottom: 35px;
}
.tabs-handler1 ul li .nav-link {
    padding: 8px 16px;
    border: 1px solid silver !important;
}
.tabs-handler1 .nav-tabs .nav-item.show .nav-link, .tabs-handler1 .nav-tabs .nav-link.active {
    color: #010101;
    border-left: 2px solid #000000 !important;
    background: black !important;
    border: 1px solid black !important;
    color: white !important;
}
.tabs-content1 {
    width: 100%;
    padding: 25px 20px;
}
.custom-image3 {
    float: left;
    width: 100%;
    max-width: 350px;
    margin-bottom: 25px;
}


.custom-image4 {
    float: left;
    width: 100%;
    margin-bottom: 22px;
}
.detail-text3 h3 {
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
}
.service-banner-text h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    max-width: 900px;
}

.custom-image5 {
    float: left;
    width: 100%;
    margin-bottom: 22px;
}

.category-block {
    text-align: center;
}
.category-block img {
    width: 100%;
    max-width: 330px;
}
.quote-box {
    max-width: 580px;
    margin: auto;
    padding-left: 55px;
    position: relative;
}
.quote-box img {
    width: 40px;
    position: absolute;
    left: 0px;
    top: 5px;
}
.quote-box p {
    font-size: 16px;
    letter-spacing: 0.1px;
    font-weight: 500;
}



.contact-item1 {
    float: left;
    width: 100%;
    text-align: center;
}
.contact-info-parent {
    height: auto;
    border: none;
    padding: 0px;
}
.dot-1 {
    display: none;
}
.contact-info-box {
    text-align: center;
    margin-bottom: 30px;
}
.contact-form-head {
    float: left;
    width: 100%;
    margin-bottom: 22px;
    position: relative;
    padding-left: 0px;
}
.contact-form-head img {
    position: static;
    left: 0px;
    top: 0px;
    width: 60px;
}
.contact-form-head h4 {
    color: black;
    font-weight: 700;
    font-size: 21px;
    letter-spacing: 0.2px;
    line-height: 30px;
}
.contact-wrapper {
    float: left;
    width: 100%;
    background: #EFF1FA;
    padding: 40px 20px;
}
.step-head h4 {
    color: #3D3D3D;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 18px;
}
}


  