.capitalize {
    text-transform: uppercase;
}
.no-portfolio {
    background-color: #e6e6e6;
    padding: 15px 25px;
    text-align: center;
    color: #999;
}
.no-portfolio h3{
    font-weight: 600;
}
.custom-btn22 {
    background-color: #ffd300;
    color: #5000ff !important;
}
.custom-btn22:hover {
    background-color: #5000ff;
    color: #ffd300 !important;
}
#loader_tray .col-12 {
    text-align: center;
}
#loader_tray .col-12 img {
    width: 200px;
}
#loader_tray {
    display: none;
}